#project-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#project {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 100%;
}

#image-project {
  display: flex;
  justify-content: center;
}

#image-project img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

#description {
  flex-grow: 1;
}

#card-actions {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#techs {
  display: flex;
  align-items: center;
  background: var(--primary);
  padding: 5px 6px 2px;
  gap: 6px;
  border-radius: 4px;
  font-size: 1.1rem;
}

#links {
  display: flex;
  gap: 6px;
}

#links a {
  display: flex;
  align-items: center;
  padding: 4px 8px 2px;
  background: var(--primary);
  border-radius: 4px;
  font-size: 1.1rem;
}

#card-actions svg {
  position: relative;
  bottom: 1px;
  fill: var(--text);
}
