#project-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#project {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 100%;
}

#image-project img {
  max-width: 100%;
}

div#actions-buttons {
  display: flex;
  justify-content: space-between;
}

#tech-icons {
  display: flex;
  font-size: 1.3rem;
  background: var(--primary);
  padding: 4px 6px;
  gap: 6px;
  border-radius: 4px;
}

#tech-icons svg {
  position: relative;
  top: 0.4px;
}

#actions-buttons #links {
  display: flex;
  gap: 6px;
}

#actions-buttons a {
  background: var(--primary);
  font-size: 1.1rem;
  padding: 3px 6px;
  border-radius: 4px;
}
