:root {
  /* Normal Colors */
  --body: hsl(210, 40%, 96.1%);
  --main: white;
  --primary: hsl(27, 96%, 61%);
  --secondary: #ffffff;
  --text: hsl(240, 5.9%, 20%);
  --border: rgb(227, 227, 227);
  --projbuttons: var(--primary);
  --imgbefore: rgb(0 0 0 / 50%);
  /* Links */
  --link: hsl(240, 5.9%, 10%);
  --fontweight: 400;
  /* Sizes */
  --maxwidth: 1266px;
  /* Fontes */
  --fontprimary: 'Roboto', sans-serif;
  --fontsecondary: 'Ubuntu', sans-serif;
}
