.desription {
  padding: 1rem;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  background: var(--secondary);
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  /* mobile */
}

// Componente Carousel.tsx
.c-image_project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  overflow: hidden;

  .principal {
    height: 400px;
    overflow: auto;
    width: 100%;

    img {
      max-width: 100%;
      border-radius: 4px;
    }
  }

  .more-images {
    display: flex;
    gap: 0.3rem;
    width: 100%;

    img {
      border-radius: 4px;
      width: 50px;
      height: 50px;
      object-fit: cover;
      border: 1px solid var(--border);
    }
  }
}

.techs_name {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;

  span {
    display: flex;
    align-items: center;
    gap: 4px;
    background: var(--tech-tags);
    padding: 3px 7px;
    border-radius: 4px;
    color: var(--link);
  }
}

#description {
  flex-grow: 1;
}

#date {
  color: #646e77;
  font-size: 0.8rem;
}

#card-actions {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 6px;

  #links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
  }

  #links a {
    display: flex;
    gap: 3px;
    align-items: center;
    padding: 4px 8px 2px;
    background: var(--primary);
    border-radius: 4px;
    font-size: 1.1rem;
  }

  svg {
    position: relative;
    bottom: 1px;
    fill: var(--text);
  }
}


/* Telas muito pequenas a baixo de 300px */
@media (max-width: 300px) {
  #card-actions {
    justify-content: center;
  }
}

/* Telas a cima de 420px */
@media (min-width: 421px) {
  .project-list {
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  .project {
    width: 310px !important;
  }
}