#project-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#project {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 100%;
}

#image-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  gap: 0.3rem;
  border-radius: 2px;
}

#image-project img {
  max-width: 100%;
}

.more-images {
  overflow-y: hidden;
  display: flex;
  gap: 0.3rem;
}

.more-images img {
  border: 1px solid var(--primary);
  width: 100px;
  height: 100px;
  border-radius: 3px;
  object-fit: cover;
}

.more-images .selected {
  position: relative;
  border: 2px solid blue;
}

#techs_name {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

#techs_name span {
  display: flex;
  align-items: center;
  gap: 2px;
  background: #d3d3d3;
  padding: 3px 5px;
  border-radius: 4px;
}

#description {
  flex-grow: 1;
}

#date {
  color: #646e77;
  font-size: 0.8rem;
}

#card-actions {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 6px;
}

#techs {
  display: flex;
  align-items: center;
  background: var(--primary);
  padding: 5px 6px 2px;
  gap: 6px;
  border-radius: 4px;
  font-size: 1.1rem;
}

#links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

#links a {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 4px 8px 2px;
  background: var(--primary);
  border-radius: 4px;
  font-size: 1.1rem;
}

#card-actions svg {
  position: relative;
  bottom: 1px;
  fill: var(--text);
}
