@media (max-width: 300px) {
  /* Telas muito pequenas a baixo de 300px */
  #card-actions {
    justify-content: center;
  }
}

@media (min-width: 421px) {
  /* Telas a cima de 420px */

  #project-list {
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  #project {
    width: 300px !important;
  }

  .image-principal {
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
}
