:root {
  /* Normal Colors */
  --body: hsl(210, 40%, 96.1%);
  --main: white;
  --primary: hsl(27, 96%, 61%);
  --secondary: #ffffff;
  --text: hsl(240, 5.9%, 20%);
  --border: rgb(227, 227, 227);
  --projButtons: var(--primary);
  /* Links */
  --link: hsl(240, 5.9%, 10%);
  --fontWeight: 400;
  /* Sizes */
  --maxWidth: 1266px;
  --globalGap: .5rem;
}
